<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", console_games_path(@game.console) %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>
